textarea {
  min-height: calc(10rem + 2px) !important;
}

.form-switch {
  display: flex;
  align-items: center;
}
.form-switch .form-check-input {
  margin-right: 0.5rem;
  display: inline-table;
}

.hide {
  display: block;
}

.hide.hidden {
  display: none;
}
.popover-header {
  text-align: center;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "back_left back_center back_right"
                       "center_left center_center center_right"
                       "front_left front_center front_right";
}

.grid-container div {
  cursor: pointer;
  padding: 0 0.5rem;
}

.back_left { grid-area: back_left; text-align: left; }
.back_center { grid-area: back_center; text-align: center; }
.back_right { grid-area: back_right; text-align: right; }
.center_left { grid-area: center_left; text-align: left; }
.center_center { grid-area: center_center; text-align: center; }
.center_right { grid-area: center_right; text-align: right; }
.front_left { grid-area: front_left; text-align: left; }
.front_center { grid-area: front_center; text-align: center; }
.front_right { grid-area: front_right; text-align: right; }

.back_left:before, .back_right:before,
.front_left:before, .front_right:before {
  position: absolute;
  width: 100%;
  font-size: 0.75rem;
  color: #6c757d;
  pointer-events: none;
}

.back_left:before {
  content: "Back Left";
  top: 0;
  left: 0;
}
.back_right:before {
  content: "Back Right";
  top: 0;
  right: 0;
}
.front_left:before {
  content: "Front Left";
  bottom: 0;
  left: 0;
}
.front_right:before {
  content: "Front Right";
  bottom: 0;
  right: 0;
}