.wrapper {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, a {
  text-align: center;
  margin: 0;
}

textarea {
  width: calc(100% - 1rem - 2px);
  padding: 0.5rem;
}

a, textarea, button {
  display: block;
  margin: 0 0 1rem 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-item {
  width: 100%;
  padding: 0 1.5rem;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}


.grid-container {
  margin: 0 0 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "top_left top_middle top_right"
                       "middle_left center middle_right"
                       "bottom_left bottom_middle bottom_right";
}

.top_left { grid-area: top_left; }
.top_middle { grid-area: top_middle; }
.top_right { grid-area: top_right; }
.middle_left { grid-area: middle_left; }
.center { grid-area: center; }
.middle_right { grid-area: middle_right; }
.bottom_left { grid-area: bottom_left; }
.bottom_middle { grid-area: bottom_middle; }
.bottom_right { grid-area: bottom_right; }

.hide {
  display: block;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border: solid 1px gray;
}

.hide.hidden {
  display: none;
}